html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #020617;
  color: #e2e8f0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
  border-bottom: 1px solid #1e293b;
  position: sticky;
  top: 0;
}

nav a {
  color: #38bdf8;
  margin-left: 15px;
  text-decoration: none;
  transition: 0.2s;
}

nav a:hover {
  color: #22c55e;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.buttons a {
  margin: 10px;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.2s;
}

.buttons a:hover {
  background: #22c55e;
}

section {
  padding: 60px;
}

.card {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.card:hover {
  border-color: #38bdf8;
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(56,189,248,0.3);
}

.highlight {
  border-color: #22c55e;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills span {
  background: #1e293b;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.2s;
}

.skills span:hover {
  background: #38bdf8;
  color: black;
}
